<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %> 
  <title>
    Account Settings- Lose It
  </title>
</head>

<body class="landing-page sidebar-collapse">
    <% include ../partials/navbar %> 
  <div class="page-header header-filter" data-parallax="true" style="background-color: lightskyblue; height: 400px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-5" style="text-align: center;">ACCOUNT SETTINGS</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

                <% if (errors.length) { %>
         
                    <div class = 'alert alert-danger alert-dismissable'>
                    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= errors %>
                    </div>
                     <% } %>

                     <% if (success.length) { %>
         
                        <div class = 'alert alert-success alert-dismissable'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                        </div>
                         <% } %>
                   
            </div>
          </div>
        </div>
      </div>
 
  
  <div class="main main-raised">
    <div class="container">
      <div class="section ">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title text-center">Your Acount Infomation</h2>

            <form role="form" method="POST" action="/loseit/api/v1/users/account?_method=PUT">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Fist Name:</label>
                    <input type="text" name="fName" id="fName"class="form-control text-center"  placeholder="<%= user.name.split(' ')[0] %> " >
                </div>
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Last Name:</label>
                    <input type="text" name="lName" id="lName"class="form-control text-center" placeholder="<%= user.name.split(' ')[1] %>" >
                </div>
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Email:</label>
                    <input type="email" name="email" id="email"class="form-control text-center" placeholder="<%= user.email %>" >
                </div>
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Password</label>
                    <input type="password" name="password" id="password"class="form-control text-center" >
                </div>
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">New Password</label>
                    <input type="password" name="nPassword" id="nPassword" class="form-control text-center">
                </div>
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Retype Your New Password</label>
                    <input type="password" name="retypeNPassword" id="retypeNPassword" class="form-control text-center">
                </div>
                <div class="col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary">UPDATE!</button>
                </div>
              </form>

        </div>
      </div>
    </div>
  </div>
  </div>

  <% include ../partials/footer %> 
  <% include ../partials/script %> 
  
</body>

</html>