<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %> 
  <title>
    Food Search - Lose It
  </title>
</head>

<body class="landing-page sidebar-collapse">
    <% include ../partials/navbar %> 
  <div class="page-header header-filter" data-parallax="true" style="background-color: lightskyblue; height: 400px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5 text-center">Diet</h1>
                  </div>
                <% if (errors.length) { %>
                    <div class = 'alert alert-danger alert-dismissable'>
                    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= errors %>
                    </div>
                     <% } %>

                     <% if (success.length) { %>
                        <div class = 'alert alert-success alert-dismissable'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                        </div>
                         <% } %>
    
            </div>
          </div>
        </div>
      </div>
 
  
  <div class="main main-raised">
    <div class="container">
      <div class="section">                      
        <div class="row">
            <div class="info col-md-2">
                
                <h4 class="info-title">Meal for :<%= foundMeal.time%> </h4>
                <% if (foundMeal.items.length) { %>
                 <% for( let i = 0; i < foundMeal.items.length; i++ ) { %>
                    <p>  <%= foundMeal.items[i].name %> </p>
                 <% } %>

                <% } %>
                <p></p>
              </div>


          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title text-center"></h2>
            <form role="form" method="GET" action="/api/v1/dietPlan/findfood">
              <div class="form-group bmd-form-group text-center ">
                  <label class="bmd-label-floating">Food Search</label>
                  <input type="hidden" name="mealId" id="mealId" value="<%= foundMeal._id%>" />
                  <input type="search" name="search" id="search"class="form-control text-center" >
              </div>

              <div class="col-md-4 offset-md-4">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
              </div>
            </form>


                




            <% if (data.parsed) { %>
                <div class="col-md-4 offset-md-4">
                    <h2 class="title"><%= data.parsed[0].food.label %> </h2>
                    <div class="thumbnail ">
                        <img src="<%= data.parsed[0].food.image%>" style="height: 30%; width: 30%;" />
                    </div>
                    <h5 class="description"> Calories : <%= data.parsed[0].food.nutrients.ENERC_KCAL%> </h5>
                    <h5 class="description"> Fat : <%= data.parsed[0].food.nutrients.FAT %> </h5>
                    <h5 class="description"> Protein : <%= data.parsed[0].food.nutrients.PROCNT %> </h5>
                  </div>
                  <form role="form" method="POST" action="/api/v1/dietPlan/add-food?_method=PUT">
                    <input type="hidden" name="mealId" id="mealId" value="<%= foundMeal._id%>" />
                    <input type="hidden" name="name" id="name" value="<%= data.parsed[0].food.label %>" />
                    <input type="hidden" name="calories" id="calories" value="<%= data.parsed[0].food.nutrients.ENERC_KCAL%>" />
                    <input type="hidden" name="fat" id="fat" value="<%= data.parsed[0].food.nutrients.FAT %>" />
                    <input type="hidden" name="protein" id="protein" value="<%= data.parsed[0].food.nutrients.PROCNT %>" />
                    <div class="col-md-4 offset-md-4">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Add to List</button>
                    </div>
                  </form>
            <% } %>
         

      </div>
        </div>


    </div>
  </div>
  <script src="/javascripts/mealNumber.js"></script>
  <% include ../partials/footer %>
  <% include ../partials/script %> 
  
</body>

</html>