
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %> 
  <title>
    Meals - Lose It
  </title>
</head>

<body class="landing-page sidebar-collapse">
    <% include ../partials/navbar %> 
  <div class="page-header header-filter" data-parallax="true" style="background-color: lightskyblue; height: 400px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5 text-center">Meals</h1>
                  </div>
                <% if (errors.length) { %>
                    <div class = 'alert alert-danger alert-dismissable'>
                    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= errors %>
                    </div>
                     <% } %>

                     <% if (success.length) { %>
                        <div class = 'alert alert-success alert-dismissable'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                        </div>
                         <% } %>
                    
    
            </div>
          </div>
        </div>
      </div>
 
  
  <div class="main main-raised">
    <div class="container">
      <div class="section">                      
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title text-center"></h2>
            <div class="features">
                <div class="row">

       

            <% for( let i = 0; i < foundPlan.length; i++ ) { %>
                        <div class="col-md-4">
                          <div class="info ">
                            <h4 class="info-title"><%= foundPlan[i].time %> </h4>
                            <% for( let l = 0; l < foundPlan[i].items.length; l++ ) { %>
                                
                                <form role="form" method="POST" action="/api/v1/dietPlan/remove-item/<%= foundPlan[i]._id %>?_method=PUT">
    
                                    <div class="row ">
                                        <p><%= foundPlan[i].items[l].name %> </p>
                                        <input type="hidden" name="index" id="index" value="<%= l %> " />                  
                                        <button type="submit" class=" btn  btn-sm btn-primary" style="height: 25px;">&times;</button>     
                                    </div>
                                    </form>


                            <% } %>
                           <h3>Total Calories: <%= foundPlan[i].items.reduce((a,b) => a+Number(b.calories) , 0) %> </h3>
                          </div>
                          <form role="form" method="GET" action="/api/v1/dietPlan/food-search/<%= foundPlan[i]._id %>">
                            <div class="">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">Add Food</button>
                            </div>
                          </form>
                        </div>

              
            <% } %>
                        
                      </div>
                    </div>

      </div>
        </div>


    </div>
  </div>
  <script src="/javascripts/mealNumber.js"></script>
  <% include ../partials/footer %>
  <% include ../partials/script %> 
  
</body>

</html>
