<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %> 
  <title>
    Profile - Lose It
  </title>
</head>

<body class="landing-page sidebar-collapse">
    <% include ../partials/navbar %> 
  <div class="page-header header-filter" data-parallax="true" style="background-color: lightskyblue; height: 400px;">
    <div class="container">
        <div class="row">

            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

                <% if (errors.length) { %>
                    <div class = 'alert alert-danger alert-dismissable'>
                    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= errors %>
                    </div>
                     <% } %>

                     <% if (success.length) { %>
                        <div class = 'alert alert-success alert-dismissable'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                        </div>
                         <% } %>
            </div>

          </div>
        </div>
      </div>
 
  
  <div class="main main-raised">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title text-center"></h2>

             
            <div class="section text-center">
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Your Info</h2>
                      <div class="border">
                        <h4 class="info-title ">Name: <%= user.name %> </h4>
                        <h4 class="info-title ">height: <%= user.userInfo.height %> inches </h4>
                        <h4 class="info-title ">Birthday: <%= user.userInfo.birthday %> </h4>
                        <h4 class="info-title ">TDEE: <%= user.userInfo.tdee %> </h4>
                        <h4 class="info-title ">BMR: <%= user.userInfo.bmr %> </h4>
                            <div class="col-md-6 offset-md-3">
                                <button onclick="location.href='/api/v1/users/profileEdit'" class="btn btn-block btn-lg btn-primary">EDIT!</button>
                            </div>
                      </div>
                  </div>

                </div>
                <div class="">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="info">
                        <div class="icon icon-info">
                          <i class="material-icons">chat</i>
                        </div>
                        <h4 class="info-title">Goal</h4>
                        
                        <% if (!user.goal.complete) { %>
                         <h5>You Do not Have A Weight Goal</h5>
                         <div class="">
                            <button onclick="location.href='/api/v1/users/add-goal'" class="btn btn-block btn-lg btn-primary">Add Goal</button>
                        </div>
                        <% } %>
                        <% if (user.goal.complete) { %>
                            <div class="border">
                                <h4 class="info-title ">Current Goal: <%= user.goal.targetWeight %> LB</h4>
                                
                                    <div class=" offset-md-">
                                        <button onclick="location.href='/api/v1/users/add-goal'" class="btn btn-block btn-lg btn-primary">Add New Goal!</button>
                                    </div>
                              </div>
                           <% } %>


                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="info">
                        <div class="icon icon-success">
                          <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">placeholder</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="info">
                        <div class="icon icon-danger">
                          <i class="material-icons">plceeholder</i>
                        </div>
                        <h4 class="info-title">Fingerprint</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



        </div>
      </div>
    </div>
  </div>
 
  <% include ../partials/footer %>
  <script src="/javascripts/birthday.js"></script>
  <% include ../partials/script %> 
  
</body>

</html>