<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %> 
  <title>
    Welcome to Lose It
  </title>
</head>

<body class="landing-page sidebar-collapse">
    <% include ../partials/navbar %> 
  <div class="page-header header-filter" data-parallax="true" style="background-color: lightskyblue; height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

                <% if (errors.length) { %>
         
                    <div class = 'alert alert-danger alert-dismissable'>
                    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= errors %>
                    </div>
                     <% } %>

                     <% if (success.length) { %>
         
                        <div class = 'alert alert-success alert-dismissable'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <%= success %>
                        </div>
                         <% } %>
                   
              <% if (!user) { %>
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Get Started today to achieve your goal</h1>
                  </div>
                <form role="form" method="POST" action="/api/v1/users/register">
                    <div class="form-row">
                      <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="email" name="email" id="email"class="form-control form-control-lg" placeholder="Enter your email..." style="color: white;">
                      </div>
                      <div class="col-12 col-md-3">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                      </div>
                    </div>
                  </form>
              <% } %>

              <% if (user) { %>
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Welcome Back <%= user.name %> </h1>
                  </div>
              <% } %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="main main-raised">
    <div class="container">

        <% if (user) { %>

            
            <% if (!user.userInfo.userInfo) { %>
                <div class="section text-center">
                    <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Before we get Started , Please Complete your  <a href="/api/v1/users/profile" style="text-decoration: underline; color: skyblue;">PROFILE </a> </h2>
                      </div>
                    </div>
                  </div>
            <% } %>
            <% if (user.userInfo.userInfo) { %>
              <div class="section text-center">
                <div class="row">

                  <% if (weighIn.length) { %>
                    
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title"><%= weighIn %> </h4>
                        </div>
                        <div class="card-body">
                          
                          <form role="form" method="POST" action="/api/v1/users/weigh-in?_method=PUT">
                            <div class="form-group bmd-form-group">
                                <input type="number" name="weight" id="weight"class="form-control text-center" min="50" max="800" placeholder="Weight in LB">
                            </div>
                            <div class="col-md-6 offset-md-3">
                                <button type="submit" class="btn btn-block btn-sm btn-primary">UPDATE!</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                     <% } %>

                     <% if (user.goal.complete) { %>

                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title">Current Goal: <%= user.goal.targetWeight %> LB</h4>
                          </div>
                          <div class="card-body">
                            <div>
                              <h5>Your Current Weight: <%= user.goal.currentWeight %> </h5>
                            </div>
                            <div class=" col-md-6 offset-md-3">
                              <button onclick="location.href='/api/v1/users/add-goal'" class="btn btn-block btn-sm btn-primary">Add New Goal!</button>
                          </div>
                          </div>
                        </div>
                      </div>

                     <% } %>

                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Regular header</h4>
                        <p class="category">Category subtitle</p>
                      </div>
                      <div class="card-body">
                        The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
                      </div>
                    </div>
                  </div>



                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Regular header</h4>
                        <p class="category">Category subtitle</p>
                      </div>
                      <div class="card-body">
                        The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card" >
                      <div class="card-header">
                        <h4 class="card-title">Regular header</h4>
                        <p class="category">Category subtitle</p>
                      </div>
                      <div class="card-body">
                        The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
                      </div>
                    </div>
                  </div>
                </div>

                
                <div class="section text-center">
                  <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                      <h2 class="title">Recent Meals</h2>
                      <h5 class="description"></h5>
                    </div>
                  </div>
                  <div class="features">
                    <div class="row">
                      <% for( let i = 0; i < userRecentDiet.length; i++ ) { %>
                        <%= console.log(userRecentDiet[i]) %> 

                        <div class="col-md-4">
                          <div class="card" >
                            <div class="card-header">
                              <h4 class="card-title"><%= userRecentDiet[i].date %> </h4>
                            </div>
                            <div class="card-body">
                              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
                            </div>
                          </div>
                        </div>

                      <% } %>
                    </div>
                  </div>
                </div>




           <% } %>
            <% } %>
                  <% if (!user) { %>
                    <div class="section text-center">
                        <div class="row">
                          <div class="col-md-8 ml-auto mr-auto" style="height: 250px;">
                            <h2 class="title">What People Are Eating</h2>
                            <div id="" class="carousel slide" data-ride="carousel">
                  
                              <div class="carousel-inner">
                                <div class="carousel-item active" >
                                  <div class="card-body" style="height: 250px;">
                                    <h5 class="card-title"></h5>
                                  <% for( let i = 0; i < recentDiet[0].length; i++ ) { %>
                                      <p class="card-text">
                                        <%= recentDiet[0][i].name %>
                                      </p>
                                      
                                  <% } %>
                                </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="card-body" style="height: 250px;">
                                    <h5 class="card-title"></h5>
                                  <% for( let i = 0; i < recentDiet[0].length; i++ ) { %>
                                      <p class="card-text">
                                        <%= recentDiet[0][i].name %>
                                      </p>
                                      
                                  <% } %>
                                </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="card-body" style="height: 250px;">
                                    <h5 class="card-title"></h5>
                                  <% for( let i = 0; i < recentDiet[0].length; i++ ) { %>
                                      <p class="card-text">
                                        <%= recentDiet[0][i].name %>
                                      </p>
                                      
                                  <% } %>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="features">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-info">
                                  <i class="material-icons">chat</i>
                                </div>
                                <h4 class="info-title">placeholder</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-success">
                                  <i class="material-icons">verified_user</i>
                                </div>
                                <h4 class="info-title">placeholder</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-danger">
                                  <i class="material-icons">plceeholder</i>
                                </div>
                                <h4 class="info-title">Fingerprint</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                      <div class="section text-center">
                        <div class="row">
                          <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">placeholder</h2>
                            <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h5>
                          </div>
                        </div>
                        <div class="features">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-info">
                                  <i class="material-icons">chat</i>
                                </div>
                                <h4 class="info-title">placeholder</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-success">
                                  <i class="material-icons">verified_user</i>
                                </div>
                                <h4 class="info-title">placeholder</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-danger">
                                  <i class="material-icons">plceeholder</i>
                                </div>
                                <h4 class="info-title">Fingerprint</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% } %>
           
    </div>
  </div>

  <% include ../partials/footer %> 
  <% include ../partials/script %> 
  
</body>

</html>